@media screen and (max-width: 992px) {
    .header__container {
        justify-content: space-around;
    }

    .icon-menu {
        display: flex;
        position: relative;
        flex: 0 0 30px;
        height: 18px;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 0 0 20px;
    }

    .icon-menu.active {
        justify-content: center;
    }

    .icon-menu.active::before {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: rotate(45deg);
    }

    .icon-menu.active::after {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: rotate(-45deg);
    }

    .icon-menu.active span {
        opacity: 0;
    }

    .icon-menu::before, .icon-menu::after {
        content: "";
        background-color: #ffffff;
        height: 2px;
    }

    .icon-menu span {
        background-color: #ffffff;
        height: 2px;
    }

    .menu__body {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: #379bd2;
        padding: 120px 15px 30px 15px;
        font-size: 20px;
        transition: right 0.3s ease 0s;
        overflow: auto;
    }

    .menu__body.active {
        right: 0;
    }

    .menu__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu__item {
        margin: 0 0 35px 0 !important;
    }

    .promo__product {
        flex-direction: column;
    }

    .product__img {
        margin: 60px 0 0 0;
        padding: 0 80px;
    }

    .product__img img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .form-order__img img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .product__description-list {
        padding: 0 30px;
    }

    .compound__container {
        flex-direction: column;
        align-items: center;
    }

    .compound__ingredients-first {
        display: flex;
        margin: 0 0 50px 0;
    }

    .compound__ingredients-second {
        display: flex;
        margin: 50px 0 0 0;
    }

    .promo-product__about-product {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .about-product__descriptionAndOrder {
        margin: 0;
        border: none;
    }

    .characteristic__item {
        font-size: 20px;
    }

    .footer__container {
        flex-direction: column;
    }

    .footer__menu {
        margin: 0;
    }

    .footer__logo {
        margin: 20px 0;
    }

    .menu__content-list {
        flex-direction: column;
    }

    .menu__item.menu__item-footer {
        margin-bottom: 10px !important;
    }
}

@media screen and (max-width: 768px) {

    .promo__container {
        padding: 190px 0 100px 0;
    }

    .promo__heading {
        font-size: 24px;
        line-height: 1.5;
        padding: 0 15px;
    }

    .compound {
        padding: 100px 0 50px 0;
    }


    .form-order__price-form {
        display: block;
    }

    .form-order__img{
        display: flex;
        justify-content: center;
    }

    .form-order__form{
        margin: 0 auto;
        max-width: 475px;
    }

    .form__input-name:focus + .form__help {
        right: 25px;
    }

    .form__input-tel:focus + .form__help {
        right: 25px;
    }

    .form-order__sale {
        margin: 0 0 50px 0;
    }

    .form-order__heading {
        font-size: 24px;
        line-height: 1.5;
    }
}

@media screen and (max-width: 585px) {

    .compound__product-img img {
        width: 150px;
    }

    .compound__ingredients-first {
        flex-wrap: wrap;
        justify-content: center;
    }

    .comments {
        padding: 100px 0 100px 0;
    }

    .compound__ingredients-second {
        flex-wrap: wrap;
        justify-content: center;
    }

    .ingredients-first__img {
        width: 98px;
    }

    .ingredients-second__img {
        width: 98px;
    }

    .about-product__img {
        display: flex;
        justify-content: center;
    }

    .about-product__img img {
        display: block;
        max-width: 70%;
        height: auto;
    }

    .characteristic__item {
        font-size: 15px;
        padding: 30px 0;
    }

    .characteristic__item img {
        vertical-align: bottom;
    }

    .form__input-name:focus + .form__help {
        top: 197px;
    }

    .form__input-tel:focus + .form__help {
        top: 257px;
    }

    .form-order__form {
        padding: 70px 30px;
    }

    .form__item{
        display: none;
    }

}

@media screen and (max-width: 475px) {
    .form__heading {
        font-size: 25px;
    }

    .form-order__img img {
        width: 180px;
    }
}

@media screen and (max-width: 460px) {
    .promo-product {
        padding: 50px 0 10px 0;
    }

}

@media screen and (max-width: 375px) {
    .about-product__description {
        font-size: 17px;
    }

    .slider__item-photo {
        height: 165px;
    }

    .form__help img {
        width: 160px;
    }

}

@media screen and (max-width: 320px) {
    .comments {
        padding: 50px 0 50px 0;
    }

    .form__input-name:focus + .form__help {
        right: 45px;
    }

    .form__input-tel:focus + .form__help {
        right: 45px;
    }
}